body{
    background-color:aqua;
    font-family:cursive;
    border: margin 10px;
}
title{
    color:rgb(0, 81, 255);
    text-align:center;
    border: 2px solid rgb(197, 20, 20);
    border-radius: 12px;
}
img{
    width:200px;
    height:200px;
}
h1{
    color:rgb(0, 81, 255);
    text-align:center;
    border: 2px solid black;
    border-radius: 12px;
}
h2{
    color:rgb(255, 0, 255);
    text-align:center;
    border: 2px solid black;
    border-radius: 12px;
}
p{
    color:black;
    font-family:verdana;
}
h1:hover{
    color:cadetblue;
    font-size:40px;
    border: 2px solid rgb(23, 201, 77);
    border-radius: 12px;
}